<section class="impressum row">
  <div class="col-sm-12">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-book"></span>
    </div>
    <div class="feature-text">
      <h3>Datenschutzerklärung</h3>
      <ol>
        <li>
          Zielsetzung und verantwortliche Stelle
          <ol>
            <li>Diese Erklärung zum Datenschutz klärt über die Art, den Umfang und Zweck der Erhebung und Verwendung von Daten sowie Verwendung von Cookies innerhalb der Websites und Onlineangebote von Tracie.io (siehe <a href="/impressum/">Impressum</a>), als datenschutzrechtlich verantwortliche Stelle (nachfolgend bezeichnet als "wir" oder "uns") auf.</li>
            <li>Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).</li>
          </ol>
        </li>
        <li>
          Grundsätzliche Angaben zur Datenverarbeitung
          <ol>
            <li>Wir erheben, verarbeiten und nutzen personenbezogene Daten der Nutzer nur unter Einhaltung der einschlägigen Datenschutzbestimmungen. Das bedeutet, die Daten der Nutzer werden nur beim Vorliegen einer gesetzlichen Erlaubnis oder Vorliegen einer Einwilligung verwendet.</li>
            <li>Wir treffen organisatorische, vertragliche und technische Sicherheitsmaßnahmen, um sicher zu stellen, dass die Vorschriften der Datenschutzgesetze eingehalten werden und damit die durch uns verwalteten Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen zu schützen</li>
          </ol>
        </li>
        <li>
          Zwecke der Erhebung, Verarbeitung und Nutzung personenbezogener Daten
          <ol>
            <li>
              Die personenbezogenen Daten der Nutzer werden für die folgenden Zwecke verwendet:
              <ol>
                <li>Die Ausführung unserer Dienstleistungen und Zurverfügungstellung unseres Onlinedienstes.</li>
                <li>Die Gewährleistung eines effektiven Kundendienstes und technischen Supports.</li>
                <li>Technische und geschäftsbezogene Benachrichtigungen betreffend unseres Angebotes.</li>
                <li>Versand von Newslettern, Test-Einladungen oder anderem Werbematerial entsprechend gesetzlichen Anforderungen.</li>
              </ol>
            </li>
            <li>Wir leiten die Daten an Dritte weiter, wenn dies für Abrechnungszwecke (z.B. Durchführung von Banktransaktionen oder postalischer Versand von Rechnungen) oder sonst notwendig ist, um unsere vertraglichen Pflichten den Kunden und Nutzern gegenüber zu erfüllen.</li>
          </ol>
        </li>
        <li>
          Beta-Requests
          <ol>
            <li>Bei Beta-Request Anfragen werden die Angaben zwecks Bearbeitung der Anfrage und spätere Einladung gespeichert.</li>
          </ol>
        </li>
        <li>
          Erhebung von Zugriffsdaten
          <ol>
            <li>Wir erheben Daten über jeden Zugriff auf den Server, auf dem sich dieses Angebot befindet (so genannte Serverlogfiles). Zu den Zugriffsdaten gehören Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.</li>
            <li>Wir nutzen Heroku zum Hosten unseres Webservices. Auf deren Systemen werden die Informationen aus dem vorhergehenden Punkt gespeichert. Genaueres findet sich auf der englischen Seite unter <a href="https://www.heroku.com/policy/privacy">https://www.heroku.com/policy/privacy</a>.</li>
            <li>Zur Verwaltung der Domain und zum Caching der ausgelieferten Daten wird Cloudflare zur Performancesteigerung als so genanntes Content-Delivery-Network (CDN) genutzt. Auch dieses benötigt Informationen wie die IP-Adresse zur Auslieferung der Daten. Genaueres finden Sie auf der englischen Seite unter <a href="https://www.cloudflare.com/security-policy">https://www.cloudflare.com/security-policy</a>.</li>
          </ol>
        </li>
        <li>
          Einbindung von Diensten und Inhalten Dritter
          <ol>
            <li>Es kann vorkommen, dass wir Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Mapbox, RSS-Feeds oder Grafiken von anderen Webseiten einbinden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als “Dritt-Anbieter”) die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich.</li>
            <li>Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer darüber auf.</li>
          </ol>
        </li>
        <li>
          Cookies & Reichweitenmessung
          <ol>
            <li>Cookies sind Informationen, die von unserem Webserver oder Webservern Dritter an die Web-Browser der Nutzer übertragen und dort für einen späteren Abruf gespeichert werden. Über den Einsatz von Cookies im Rahmen pseudonymer Reichweitenmessung werden die Nutzer im Rahmen dieser Erklärung zum Datenschutz informiert.</li>
            <li>Die Betrachtung unserer Website ist auch unter Ausschluss von Cookies möglich. Falls die Nutzer nicht möchten, dass Cookies auf ihrem Rechner gespeichert werden, werden sie gebeten die entsprechende Option in den Systemeinstellungen ihres Browsers zu deaktivieren. Gespeicherte Cookies können in den Systemeinstellungen des Browsers gelöscht werden. Der Ausschluss von Cookies kann zu Funktionseinschränkungen dieses Angebotes führen.</li>
            <li>Es besteht die Möglichkeit, viele Online-Anzeigen-Cookies von Unternehmen über die US-amerikanische Seite <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> oder die EU-Seite <a href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a> zu verwalten.</li>
          </ol>
        </li>
        <li>
          Reichweitenmessung: Google Analytics
          <ol>
            <li>Wir setzen Google Analytics, ein Webanalysedienst der Google Inc. („Google“) ein. Google verwendet Cookies, Textdateien, die auf Computer der Nutzer gespeichert werden und die eine Analyse der Benutzung unseres Onlinedienstes ermöglichen. Die durch den Cookie erzeugten Informationen über Benutzung dieser Website durch die Nutzer werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.</li>
            <li>Google diese Informationen in unserem Auftrag benutzen, um die Nutzung der Website durch die Nutzer auszuwerten, um Reports über die Aktivitäten innerhalb unseres Onlinedienstes zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen uns gegenüber zu erbringen.</li>
            <li>Wir setzen Google Analytics nur mit aktivierter IP-Anonymisierung ein. Das bedeutet, die IP-Adresse der Nutzer wird von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.</li>
            <li>Die von dem Browser des Nutzers übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Die Nutzer können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; Die Nutzer können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung der Website bezogenen Daten an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>.</li>
            <li>Alternativ zum Browser-Add-On oder innerhalb von Browsern auf mobilen Geräten, klicken Sie bitte diesen Link, um die Erfassung durch Google Analytics innerhalb dieser Website zukünftig zu verhindern (das Opt Out funktioniert nur in dem Browser und nur für diese Domain). Dabei wird ein Opt-Out-Cookie auf Ihrem Gerät abgelegt. Löschen Sie Ihre Cookies in diesem Browser, müssen Sie diesen Link erneut klicken.</li>
          </ol>
        </li>
        <li>
          Google AdWords und Retargeting
          <ol>
            <li>Wir nutzen das Online-Werbeprogramm „Google AdWords“ und im Rahmen dessen die Conversion-Tracking-Funktionen, um den Erfolg unserer Google AdWords-Werbung zu messen. Das Cookie für Conversion-Tracking wird gesetzt, wenn Sie auf eine von Google geschaltete Anzeige klicken. Diese Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung. Besuchen Sie unsere Website und das Cookie ist noch nicht abgelaufen, können wir und Google erkennen, dass Sie auf die Anzeige geklickt haben und zu unserer Website weitergeleitet wurden. Jeder Google AdWords-Kunde erhält ein anderes Cookie. Cookies können somit nicht über die Websites von AdWords-Kunden nachverfolgt werden.</li>
            <li>Die mit Hilfe des Conversion-Cookies eingeholten Informationen dienen dazu, Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für Conversion-Tracking entschieden haben. Die AdWords-Kunden erfahren die Gesamtanzahl der Nutzer, die auf ihre Anzeige geklickt haben und zu einer mit einem Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit denen sich Nutzer persönlich identifizieren lassen.</li>
            <li>Weitere Informationen zur Datennutzung zu Werbezwecken durch Google, erfahren Sie auf der Übersichtsseite: <a href="http://www.google.com/policies/technologies/ads/">http://www.google.com/policies/technologies/ads/</a></li>
            <li>Wenn Sie nicht am Tracking teilnehmen möchten, können das Cookie des Google Conversion-Trackings über Ihren Internet-Browser unter Nutzereinstellungen leicht deaktivieren oder die von Google gestellten Einstellungs- und Opt-Out-Möglichkeiten nutzen: <a href="http://www.google.com/ads/preferences/">http://www.google.com/ads/preferences/</a>.</li>
          </ol>
        </li>
        <li>
          Google Double Click
          <ol>
            <li>Wir verwenden "DoubleClick", einen Dienst von Google, Inc. (“Google”) und binden auf Grundlage von "DoubleClick"  Werbeanzeigen Dritter ein. "DoubleClick" verwendet Cookies, mit dem Google und seinen Partner-Websites, die Schaltung von Anzeigen auf Basis der Besuche von Nutzern auf dieser Website bzw. anderen Websites im Internet ermöglicht wird. Google erfasst die Nutzerdaten über eine Vielzahl von Onlineangeboten, jedoch nur in pseudonymer Form. Die von "DoubleClick" über die Nutzer gesammelten Informationen werden an Google übermittelt und auf Googles Servern in den USA gespeichert.</li>
            <li>Weitere Informationen zur Datennutzung zu Werbezwecken durch Google erfahren Sie auf der Übersichtsseite: <a href="http://www.google.com/policies/technologies/ads/">http://www.google.com/policies/technologies/ads/</a></li>
            <li>Sie können ferner die Verwendung des "DoubleClick" -Cookies für interessenbezogene Werbung einstellen oder deaktivieren, indem sie den Anzeigenvorgaben-Manager entsprechend einstellen: <a href="http://www.google.com/ads/preferences/">http://www.google.com/ads/preferences/</a></li>
          </ol>
        </li>
        <li>
          Facebook Social Plugins
          <ol>
            <li>Innerhalb dieser Website werden Social Plugins ("Plugins") des sozialen Netzwerkes facebook.com verwendet, welches von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird ("Facebook"). Die Plugins sind an einem der Facebook Logos erkennbar (weißes „f“ auf blauer Kachel oder ein „Daumen hoch“-Zeichen) oder sind mit dem Zusatz “Facebook Social Plugin” gekennzeichnet. Die Liste und das Aussehen der Facebook Social Plugins kann hier eingesehen werden: <a href="https://developers.facebook.com/docs/plugins/">https://developers.facebook.com/docs/plugins/</a>.</li>
            <li>Der Inhalt des Plugins wird von Facebook direkt an den Browser des Nutzers übermittelt und von dem Browser in die Webseite eingebunden. Wir haben daher keinen Einfluss auf den Umfang der Daten, die Facebook mit Hilfe dieses Plugins erhebt und informiert die Nutzer daher entsprechend ihrem Kenntnisstand: Durch die Einbindung der Plugins erhält Facebook die Information, dass ein Nutzer die entsprechende Seite des Angebots aufgerufen hat. Ist der Nutzer bei Facebook eingeloggt, kann Facebook den Besuch seinem Facebook-Konto zuordnen. Wenn Nutzer mit den Plugins interagieren, zum Beispiel den Like Button betätigen oder einen Kommentar abgeben, wird die entsprechende Information von ihrem Browser direkt an Facebook übermittelt und dort gespeichert. Falls ein Nutzer kein Mitglied von Facebook ist, besteht trotzdem die Möglichkeit, dass Facebook seine IP-Adresse in Erfahrung bringt und speichert. Laut Facebook wird in Deutschland nur eine anonymisierte IP-Adresse gespeichert.</li>
            <li>Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie die diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz der Privatsphäre der Nutzer , können diese den Datenschutzhinweisen von Facebook entnehmen: <a href="https://www.facebook.com/about/privacy/">https://www.facebook.com/about/privacy/</a>.</li>
            <li>Wenn ein Nutzer Facebookmitglied ist und nicht möchte, dass Facebook über dieses Angebot Daten über ihn sammelt und mit seinen bei Facebook gespeicherten Mitgliedsdaten verknüpft, muss er sich vor dem Besuch des Internetauftritts bei Facebook ausloggen und entsprechende Facebook-Cookies löschen. Ebenfalls ist es möglich Facebook-Social-Plugins mit Add-ons für den Browser zu blocken, zum Beispiel mit dem "Facebook Blocker".</li>
          </ol>
        </li>
        <li>
          Twitter-Schaltflächen
          <ol>
            <li>Innerhalb dieser Website werden die Schaltflächen des Dienstes Twitter eingesetzt. Diese Schaltflächen (z.B. "Twittern" oder "Folgen") werden angeboten durch die Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA.</li>
            <li>Der Inhalt des Twitter-Schaltflächen wird von Twitter direkt an den Browser des Nutzers übermittelt. Wir haben daher keinen Einfluss auf den Umfang der Daten, die Twitter mit Hilfe dieses Plugins erhebt und informiert die Nutzer entsprechend seinem Kenntnisstand. Nach diesem wird lediglich die IP-Adresse des Nutzers die URL der jeweiligen Webseite beim Bezug der Schaltfläche mit übermittelt, aber nicht für andere Zwecke, als die Darstellung des Buttons, genutzt. Weitere Informationen hierzu finden sich in der Erklärung zum Datenschutz von Twitter unter <a href="http://twitter.com/privacy">http://twitter.com/privacy</a>.</li>
          </ol>
        </li>
        <li>
          Widerruf, Änderungen, Berichtigungen und Aktualisierungen
          <ol>
            <li>Nutzer haben das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die von uns über sie gespeichert wurden. Die Kontaktdaten sind dem Impressum zu entnehmen.</li>
            <li>Zusätzlich haben die Nutzer das Recht auf Berichtigung unrichtiger Daten, Widerruf von Einwilligungen, Sperrung und Löschung ihrer personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.</li>
          </ol>
        </li>
        <li>
          Änderungen der Erklärung zum Datenschutz
          <ol>
            <li>Wir behalten uns vor, die Erklärung zum Datenschutz zu ändern, um sie an geänderte Rechtslagen, oder bei Änderungen des Dienstes sowie der Datenverarbeitung anzupassen.</li>
            <li>Die Nutzer werden daher gebeten sich regelmäßig über deren Inhalt zu informieren.</li>
          </ol>
        </li>
      </ol>
      <i>Stand der Erklärung zum Datenschutz: 22.11.2014</i>
    </div>
  </div>
</section>
