<div class="what-are-traciebles row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-microscope"></span>
    </div>
    <p>Jeder kann alle Sachen die er sieht einfach eintragen. Diese werden auf einer Karte angezeigt.</p>
    <p>Die Eintragungen aller anderen werden auch auf dieser Karte angezeigt.</p>
    <p>Nach und nach wird jede Eintragung schwächer bis sie verschwindet.</p>
    <p>Dadurch entsteht eine übersicht aller Dinge die irgendwo stattfinden.</p>
    <br>
    <p>Du willst es ausprobieren? Melde dich oben an!</p>
  </div>
</div>
