<footer class="row">
  <div class="col-sm-3">
    <ul>
      <li><a href="/impressum/">Impressum</a></li>
      <li><a href="https://isgwww.cs.uni-magdeburg.de/sim/venturehackers/?cat=19">Blog</a></li>
    </ul>
  </div>
  <div class="col-sm-3">
    <ul>
      <li><a href="/details/">Wie es funktioniert</a></li>
      <li><a href="#">Account/Request löschen</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <ul>
      <li><a href="https://github.com/tracie-startup/" class="octicon octicon-mark-github"> Github</a></li>
      <li><a href="https://twitter.com/tracie_report" class="octicon octicon-mark-github"> Twitter</a></li>
      <!-- <li><a href="#">f</a></li>
      <li><a href="#">+</a></li> -->
    </ul>
  </div>
</footer>
