<header class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <div class="title">Tracie</div>
  </div>
  <div class="col-sm-offset-1 col-sm-10">
    <div class="subtitle">Verpasse nichts mehr. Nie wieder.</div>
  </div>

  <%=render partial: "beta_request_form" unless @beta_request.nil? %>
  
</header>
