<section class="impressum row">
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-book"></span>
    </div>
    <div class="feature-text">
      <h3>Tracie</h3>
      Tracie ist ein Team von Studenten der Otto-von-Guericke-Universität Magdeburg, die ein StartUp im Rahmen der Lehrveranstaltung <a href="http://sim.ovgu.de/WS+14_15/Innovation.html">Innovation for Startups</a> simulieren. <br><br>

      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </div>
  </div>
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-organization"></span>
    </div>
    <div class="feature-text">
      <h3>Team</h3>
      <ul>
        <li>Andreas Pfohl</li>
        <li>Martin Knoll</li>
        <li>Robert Heumüller</li>
        <li>René Meye</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-comment-discussion"></span>
    </div>
    <div class="feature-text">
      <h3>TMG</h3>
      Inhaltlich Verantwortlicher
      nach §5 TMG:
      <br>
      <br>
      <a href="mailto:rene.meye@st.ovgu.de">René Meye</a><br>
      <a href="tel:+4916093824724">Tel: +4916093824724</a><br>
      Otto-von-Guericke-Universität Magdeburg<br>
      Institut für Simulation und Grafik<br>
      Postfach 4120<br>
      39016 Magdeburg<br>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-device-camera"></span>
    </div>
    <div class="feature-text">
      <h3>Bildnachweise</h3>
      <dl class="dl-horizontal">
        <dt>Headerfoto</dt>
        <dd><a href="https://unsplash.com/">Unsplash</a></dd>

        <dt>Icons</dt>
        <dd><a href="https://octicons.github.com">Octicons</a></dd>
      </dl>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-arrow-down"></span>
    </div>
    <div class="feature-text">
      <h3>Logos</h3>
      Von links nach rechts:<br><br>
      <dl>
        <dt><a href="http://www.ovgu.de">OvGU</a></dt>
        <dd>Otto-von-Guericke-Univerität Magdeburg. Universität an der die Lehrveranstaltung angesiedelt ist.</dd><br>
        <dt><a href="http://www.cs.uni-magdeburg.de">FIN</a></dt>
        <dd>Fakultät für Informatik. Fakultät an der die Lehrveranstaltung angesiedelt ist.</dd><br>
        <dt><a href="http://wwwisg.cs.uni-magdeburg.de">ISG</a></dt>
        <dd>Institut für Simulation und Grafik. Institut an dem die Lehrveranstaltung angesiedelt ist.</dd><br>
        <dt><a href="http://netz39.de">Netz39</a></dt>
        <dd>Hackerspace Magdeburg. In diesem sind alle Teammitglieder verankert und nutzen dessen Räumlichkeiten zur Projektarbeit.</dd><br>
      </dl>
    </div>
  </div>
</section>
