<section class="logo-row row">
  <div class="col-sm-3 logo ovgu"></div>
  <div class="col-sm-3 logo fin"></div>
  <div class="col-sm-3 logo isg"></div>
  <div class="col-sm-3 logo netz39"></div>
</section>
