<section class="value-propositions row">
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-issue-closed"></span>
    </div>
    <div class="feature-text">
      Verpasse nichts Interessantes mehr!
    </div>
  </div>
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-comment-discussion"></span>
    </div>
    <div class="feature-text">
      Erzähle von großartigen Sachen.
    </div>
  </div>
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-organization"></span>
    </div>
    <div class="feature-text">
      Sei Teil der Community.
    </div>
  </div>
  <div class="col-sm-12 value-text">Tracie gibt euch endlich die Möglichkeit, allen zu zeigen, wo ihr die interessanten Dinge im Moment seht.</div>
</section>
