<div class="what-are-traciebles row">
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-package"></span>
    </div>
    <div class="feature-text">
      Wo ist das Paketauto?
    </div>
  </div>
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-beer"></span>
    </div>
    <div class="feature-text">
      Da gibts Freibier!
    </div>
  </div>
  <div class="col-sm-4">
    <div class="feature-icon">
      <span class="octicon mega-octicon octicon-broadcast"></span>
    </div>
    <div class="feature-text">
      Ich mag gute Straßenmusik!
    </div>
  </div>
  <div class="col-sm-12 traciebles-text">Traciebles sind alle Dinge die Du und deine Freunde im Moment spannend finden. Verfolge sie!</div>
</div>
