<% body_class "landingpage" %>
<% page_title "Datenschutz" %>

<div>
  <%=render partial: "header"%>

  <%=render partial: "datenschutz_content"%>

  <%=render partial: "logos"%>

  <%=render partial: "footer"%>
</div>
