<% body_class "landingpage" %>
<% page_title "So funktionierts." %>

<div>

  <%=render partial: "landingpage/header"%>

  <%=render partial: "landingpage/details"%>

  <%=render partial: "landingpage/logos"%>

  <%=render partial: "landingpage/footer"%>
</div>
