<% body_class "landingpage" %>
<% page_title "Intelligent die Welt retten." %>

<div>
  <%=render partial: "header"%>

  <%=render partial: "impressum_content"%>

  <%=render partial: "logos"%>

  <%=render partial: "footer"%>
</div>
