<div class="landingpage">
  <header class="row">
    <div class="title">Tracie</div>
    <div class="subtitle">Verpasse nichts mehr. Nie wieder.</div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          <div class="col-lg-6">
            <div class="input-group fashion-button">
              <input type="text" class="transparent form-control">
              <span class="input-group-btn">
                <button class="btn btn-default btn-primary" type="button">Ich wills testen!</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
      </div>
    </div>
  </header>
  <div class="what-are-traciebles row">
    <div class="col-sm-4">Wo ist das Paketauto?</div>
    <div class="col-sm-4">Da gibts Freibier!</div>
    <div class="col-sm-4">Ich mag gute Straßenmusik!</div>
    <div class="col-sm-12">Traciebles sind alle Dinge die Du und deine Freunde im Moment spannend finden. Verfolge sie!</div>
  </div>
  <section class="example-map row">
    <div class="col-sm-12"><button>Wie funktioniert Tracie?</button></div>
  </section>
  <section class="value-propositions row">
    <div class="col-sm-4">Verpasse nichts Interessantes mehr!</div>
    <div class="col-sm-4">Erzähle von großartigen Sachen.</div>
    <div class="col-sm-4">Sei teil der Community.</div>
    <div class="col-sm-12">Tracie gibt euch endlich die Möglichkeit, allen zu zeigen, wo ihr die interessanten Dinge im Moment seht.</div>
  </section>
  <section class="logo-row row">
    <div class="col-sm-3">OvGU</div>
    <div class="col-sm-3">FIN</div>
    <div class="col-sm-3">ISG</div>
    <div class="col-sm-3">Netz39</div>
  </section>
  <footer class="row">
    <div class="col-sm-3">
      <ul>
        <li><a href="#">Links</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">Impressum</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="#">Wie es funktioniert</a></li>
        <li><a href="#">Statsitken</a></li>
        <li><a href="#">Account löschen</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="#">Wie es funktioniert</a></li>
        <li><a href="#">Statsitken</a></li>
        <li><a href="#">Account löschen</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="#">t</a></li>
        <li><a href="#">f</a></li>
        <li><a href="#">+</a></li>
      </ul>
    </div>
  </footer>
</div>
